<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nf.co.hoproject.genapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="android.permission.STATUS_BAR_SERVICE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/icoo"
        android:label="@string/app_name_n"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAOw4h0tI_0TcFPZRkt3fsNXctEGV52ryk" />

        <activity android:name=".inner.ui.pages.AboutUs" />
        <activity android:name=".Pay" />
        <activity android:name=".inner.ui.pages.Booking" />
        <activity android:name=".inner.ui.pages.ContactUs" />
        <activity android:name=".inner.ui.pages.Orders" />
        <activity android:name=".inner.ui.pages.Landing" />
        <activity android:name=".EntrySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".Splash" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".inner.ui.pages.ListActivity" />
        <activity android:name=".Book" />
        <activity android:name=".BookingResultGeneric" />
        <activity android:name=".MyWallet" />
        <activity android:name=".DataBase.FireBaseAct" />
        <activity android:name=".test.WriteFirebase" />
        <activity android:name=".QRScanner"></activity>




        <service
            android:name=".messaging.MyAndroidFirebaseMsgService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".messaging.MyAndroidFirebaseInstanceIdService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icoo" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />










    </application>

</manifest>